{% extends 'base.html.twig' %}
{% block body %}
<div class="container">
<div class="row">
<div class="col-md-10 col-md-offset-1">
<div class="panel panel-success">
<div class="panel-heading">Lista de Hoteles de Panamá</div>
{% if app.user != null %}
<table class="table">
<tr>
<th>Hotel</th>
<th>Dirección</th>
</tr>
{% for key, item in character %}
<tr>
<td>{{ key }}</td><td>{{ item }}</td>
</tr>
{% endfor %}
</table>
{% endif %}
</div>
{% if app.user == null %}
<a href="/login" class="btn btn-info"> Necesitas
identificarte para ver la lista >></a>
{% endif %}
</div>
</div>
</div>
{% endblock %}